<!DOCTYPE html>
<html>
<head>
  <title>Benhoad.net</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="BenHoad.net" />
  <meta property="og:url" content="http://benhoad.net" />
  <meta property="og:image" content="<%= image_url('profile.jpg') %>" />
  <meta property="og:description" content="UX designer and frontend developer" />
  <meta property="og:type" content="website" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
</head>
<body>

<%= yield %>

</body>
</html>
